<div class="titulos">
    <h1>Personajes de Star Wars</h1>
</div>
<div class="content">
    <div class="content-header">
        <div id="buscador" class="buscador">
            <input id="input-buscar" type="search" id="filtro" placeholder="Buscar...">
            <button id="boton-buscar" class="noselect">Buscar</button>
        </div>
        <h2><span id="numElementos"></span> Personajes en total</h2>
    </div>


    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Altura</th>
                <th>Peso</th>
                <th>Genero</th>
                <th>Color de piel</th>
                <th>Color de pelo</th>
                <th>Color de ojos</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody id="listaPersonajes">
        </tbody>
    </table>

    <!-- Paginador -->
    <div class="paginador noselect">
        <ul class="paginas"></ul>
    </div>
</div>