<div class="titulos">
    <h1>Planetas de Star Wars</h1>
</div>
<div class="content">
    <div class="content-header">
        <div id="buscador" class="buscador">
            <input id="input-buscar" type="search" id="filtro" placeholder="Buscar...">
            <button id="boton-buscar" class="noselect">Buscar</button>
        </div>
        <h2><span id="numElementos"></span> Planetas en total</h2>
    </div>


    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Clima</th>
                <th>Terreno</th>
                <th>Población</th>
                <th>Gravedad</th>
                <th>Diámetro</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody id="listaPlanetas">
        </tbody>
    </table>

    <!-- Paginador -->
    <div class="paginador noselect">
        <ul class="paginas"></ul>
    </div>
</div>