<div class="titulos">
    <h1>Vehículos de Star Wars</h1>
</div>
<div class="content">
    <div class="content-header">
        <div id="buscador" class="buscador">
            <input id="input-buscar" type="search" id="filtro" placeholder="Buscar...">
            <button id="boton-buscar" class="noselect">Buscar</button>
        </div>
        <h2><span id="numElementos"></span> Vehículos en total</h2>
    </div>


    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Modelo</th>
                <th>Fabricante</th>
                <th>Coste en créditos</th>
                <th>Tamaño</th>
                <th>Capacidad de carga</th>
                <th>Velocidad atmosférica máxima</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody id="listaVehiculos">
        </tbody>
    </table>

    <!-- Paginador -->
    <div class="paginador noselect">
        <ul class="paginas"></ul>
    </div>
</div>