@font-face {
    font-family: 'Star Wars';
    src: url('/src/assets/Star_wars.ttf');
}

.logo {
    font-family: 'Star Wars', sans-serif;
    margin-left: 2rem;
}

body {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    color: white;
    background-color: #000;
}

nav ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 1rem;
    font-size: 1.25rem;
}

nav ul li {
    background: none;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: .85em;
    font-weight: bold;
    padding: 0.2em 0.55em 0.2em 0.55em;
    border-radius: 0.3em;
    margin-right: 1rem;
    margin-left: 1rem;
}

nav ul li.active {
    background: #bcff01;
    color: #000;
}

nav ul li:hover {
    cursor: pointer;
    background: #bcff01;
    color: #000;
}

nav ul li a:hover {
    color: #000;
}

a.custom-link {
    color: inherit;
    text-decoration: none;
}

.hidden {
    display: none !important;
}

.custom-errors div {
    margin-right: 1rem;
    margin-left: 1rem;
    align-self: center;
}

#not_found img {
    width: 70%;
}

.content {
    max-width: 90%;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content table.table-tiny {
    font-size: .8rem !important;
}

.content table {
    margin: auto;
    font-size: 1.25rem;
}

button {
    background-color: #bcff01;
    border-color: #bcff01;
    cursor: pointer;
    box-shadow: 0 0 0 0 !important;
    display: inline-block;
    font-weight: 500;
    line-height: 1.5;
    color: #333333;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button:hover {
    background-color: #a4db0cbd;
}

section {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100rem;
}

section .titulos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

section .titulos button {
    height: fit-content;
}

section h1 {
    font-weight: bold;
    font-size: 2rem;
}

section .content-header {
    display: flex;
    justify-content: space-between;
}

section .content-header h2 {
    color: darkgray;
    text-align: right;
    font-weight: normal;
    margin: 1rem 2rem 1rem 2rem;
    font-size: 1.25rem;
}

section .titulos span {
    font-weight: bolder;
}

section h3 {
    text-align: center;
    margin: 1rem 2rem 1rem 2rem;
    font-size: 1.25rem;
}

.noselect {
    user-select: none;
}

.error-message {
    color: red;
    font-size: 16px;
    font-weight: bold;
}


/* Paginador */

.paginador {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.paginas {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.paginas li {
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid #ccc;
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.paginas li.active {
    background-color: #bcff01;
}

.paginas li.disabled {
    opacity: 0.9;
    color: #ccc;
    pointer-events: none;
    cursor: not-allowed;
}

hr {
    border: none;
    border-top: 1px solid currentColor;
    margin: 1rem 0;
    opacity: .25;
}

@keyframes intro {
    0% {
        transform: perspective(150px) rotateX(10deg) translateY(800px);
        opacity: 1;
    }
    60% {
        opacity: 0.5;
    }
    100% {
        transform: perspective(150px) rotateX(20deg) translateY(-1000px);
    }
}


/* Tarjeta para mensajes de error */

.btn-close {
    cursor: pointer;
    box-sizing: content-box;
    width: 1.25em;
    height: 1.25em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("/src/assets/xmark-solid.svg") 50%/1.25em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: .7;
    position: absolute;
    right: 3rem;
}

.error-text {
    color: #dc3545;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
}

.error-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}


/* loader */

.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.loader-container .loader {
    margin: -1rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    display: none;
}

.overlay-active {
    display: block;
    pointer-events: none;
}

.overlay h4 {
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 1rem;
}


/* Estilos para la tabla */

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid #ccc;
}

thead tr {
    background-color: #f8f8f8;
    font-weight: bold;
}

td,
th {
    padding: 8px;
    text-align: left;
}

td button,
th button {
    background-color: #bcff01;
    border: 0;
    border-radius: .5rem;
    color: #000;
    padding: 8px 8px;
    cursor: pointer;
}

div.buscador {
    display: flex;
    margin: 1rem;
}


/* Tarjetas */

section .card {
    background-color: rgb(248, 249, 250);
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2rem;
    box-shadow: 0.1rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 1rem;
}

section .secondary-card {
    box-shadow: 0.1rem 0.5rem 1rem rgba(0, 0, 0, 0.25);
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}


/* Clases genéricas */

.text-center {
    text-align: center !important;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    justify-content: center;
}

.fw-bold {
    font-weight: bold;
}

.text-capitalize {
    text-transform: capitalize;
}

.no-pointer-events {
    pointer-events: none;
}